$primaryColor: rgb(66, 181, 235);
$primaryColorLight: rgb(118, 196, 233);
$secondaryColor: rgb(239, 248, 250);
$tetriaryColor: rgb(211, 238, 241);

.item {
    border: 1px solid $tetriaryColor;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 10px;
    background-color: $secondaryColor;
    align-self: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    // -webkit-box-shadow: 1px 1px 5px 2px $tetriaryColor; 
    // box-shadow: 2px 2px 4px 3px $tetriaryColor;

    h3 {
        color: rgb(34, 46, 49);
        margin: 10px 0 10px 0;
    }

    b {
        color: rgb(34, 46, 49);
        font-weight: bold;
    }

}

.someList {
    box-sizing: border-box;
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

table {
    width: 100%;
    border-spacing: 0 10px;


    tr {
        background-color: $primaryColorLight;

        &:nth-of-type(2n) {
            background-color: $tetriaryColor;
        }

        td:first-of-type {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        td:last-of-type {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }

    td {
        text-align: center;
        padding: 5px;
    }
}
